{% extends "index.html" %}

{% block body %}
<div class="row justify-content-center align-items-start bottom-buffer text-wrap">
    <div class="col-auto">
        <h2>Our YOLOv1m can predict four classes.</h2>
        <div class="row justify-content-center align-items-center">
            <div class="col-auto icon">
              <img class="icon-border" src="{{ url_for('static', path='images/icons/eyeglasses.svg') }}" class="img-responsive"/>
            </div>
            <div class="col-auto icon">
              <img class="icon-border" src="{{ url_for('static', path='images/icons/scissors.svg') }}" class="img-responsive"/>
            </div>
            <div class="col-auto icon">
              <img class="icon-border" src="{{ url_for('static', path='images/icons/phone.svg') }}" class="img-responsive"/>
            </div>
            <div class="col-auto icon">
              <img class="icon-border" src="{{ url_for('static', path='images/icons/tape.svg') }}" class="img-responsive"/>
            </div>
        </div>
        <h2>YOLOv5 can predict eighty classes.</h2>
        <div class="row justify-content-center align-items-center">
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/person.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bicycle.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/car.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/motorcycle.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/airplane.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bus.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/train.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/truck.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/boat.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/traffic.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/hydrant.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/stop.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/parking-meter.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bench.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bird.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/cat.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/dog.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/horse.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/sheep.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/cow.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/elephant.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bear.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/zebra.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/giraffe.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/backpack.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/umbrella.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/handbag.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/tie.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/suitcase.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/frisbee.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/skis.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/snowboard.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/ball.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/kite.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/baseball-bat.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/baseball-glove.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/skateboard.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/surfboard.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/tennis-racket.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bottle.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/wine-glass.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/cup.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/fork.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/knife.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/spoon.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bowl.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/banana.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/apple.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/sandwich.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/orange.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/broccoli.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/carrot.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/hotdog.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/pizza.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/donut.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/cake.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/chair.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/couch.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/plant.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/bed.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/dining-table.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/toilet.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/tv.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/laptop.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/mouse.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/remote.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/keyboard.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/phone.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/microwave.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/oven.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/toaster.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/sink.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/refrigerator.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/book.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/clock.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/vase.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/scissors.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/teddy-bear.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/hair-drier.svg') }}" class="img-responsive"/>
          </div>
          <div class="col-auto icon">
            <img class="icon-border" src="{{ url_for('static', path='images/icons/toothbrush.svg') }}" class="img-responsive"/>
          </div>
      </div>
    </div>
    <div class="col-auto">
        <form id=upload-form method=post action='/result/' enctype=multipart/form-data>
            <div class="row justify-content-center align-items-center bottom-buffer">
              <h2 style='padding-bottom: 10px;'>Please select a model to predict:</h2>
              <div class="col-auto align-self-center">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="yolov1" name="model_id" class="custom-control-input" value="1">
                  <label class="custom-control-label" for="yolov1">YOLOv1m</label>
                </div>
              </div>
              <div class="col-auto align-self-center">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="yolov5" name="model_id" class="custom-control-input" value="5" checked>
                  <label class="custom-control-label" for="yolov5">YOLOv5</label>
                </div>
              </div>
            </div>
            <div class=drop-region id=drop-region>
              <img src="{{ url_for('static', path='images/NordlingLablogo.svg') }}" class="img-responsive"/>
                <input id=uploadinput class=upload_input type=file name=file accept="image/*,video/*">
            </div>        
          </form>
          <p> We have predicted {{predict_img_counts}} images and {{predict_video_counts}} videos.</p>
          <p class="drop-message">Drag and drop / click to select image or video to predict the object locations</p>
          <p class="bottom-border">Maximum file size: 20MB. Supported image types: png, jpg, jpeg. Supported video types: mp4, avi, mov, mpeg, flv, wmv.</p>
    </div>
</div>
{% endblock %}