{% extends "index.html" %}

{% block body %}
<div class="row justify-content-center align-items-center">
    <video controls="" autoplay="" name="media">
        <source src="{{ url_for('static', path=video_path) }}" type="video/mp4">
    </video>
    <p>Video is stored for 10 minutes.</p>
</div>
<div class="row justify-content-center align-items-center">
  <form id=upload-form method=post action='/result/' enctype=multipart/form-data>
    <div class="row justify-content-center align-items-center bottom-buffer">
      <h2>Predict again? please select model:</h2>
      <div class="col-auto align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="yolov1" name="model_id" class="custom-control-input" value="1">
          <label class="custom-control-label" for="yolov1">YOLOv1</label>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="yolov5" name="model_id" class="custom-control-input" value="5"  checked>
          <label class="custom-control-label" for="yolov5">YOLOv5</label>
        </div>
      </div>
    </div>
    <div class=drop-region id=drop-region>
      <img src="{{ url_for('static', path='images/NordlingLablogo.svg') }}" class="img-responsive"/>
        <input id=uploadinput class=upload_input type=file name=file accept="image/*,video/*">
    </div>
  </form>
  <p> We have predicted {{predict_img_counts}} images and {{predict_video_counts}} videos.</p>
  <p class="drop-message">Drag and drop / click to select image or video to predict the object locations</p>
  <p class="bottom-border">Maximum file size: 20MB. Supported image types: png, jpg, jpeg. Supported video types: mp4, avi, mov, mpeg, flv, wmv.</p>
</div>
{% endblock %}