{% extends "index.html" %}

{% block body %}
<div class="row justify-content-center align-items-center content-properties">
  {% if has_result %}
  <div class="col-auto align-self-start">
    <h2>What we found?</h2>
    <div class="row justify-content-center align-items-center">
      {% if result[0] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/person.svg') }}" class="img-responsive"/>
          <p>{{result[0]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[1] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bicycle.svg') }}" class="img-responsive"/>
          <p>{{result[1]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[2] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/car.svg') }}" class="img-responsive"/>
          <p>{{result[2]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[3] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/motorcycle.svg') }}" class="img-responsive"/>
          <p>{{result[3]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[4] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/airplane.svg') }}" class="img-responsive"/>
          <p>{{result[4]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[5] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bus.svg') }}" class="img-responsive"/>
          <p>{{result[5]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[6] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/train.svg') }}" class="img-responsive"/>
          <p>{{result[6]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[7] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/truck.svg') }}" class="img-responsive"/>
          <p>{{result[7]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[8] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/boat.svg') }}" class="img-responsive"/>
          <p>{{result[8]}} item(s)</p>
        </div>
      {% endif %}
      {% if result[9] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/traffic.svg') }}" class="img-responsive"/>
          <p>{{result[9]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[10] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/hydrant.svg') }}" class="img-responsive"/>
          <p>{{result[10]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[11] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/stop.svg') }}" class="img-responsive"/>
          <p>{{result[11]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[12] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/parking-meter.svg') }}" class="img-responsive"/>
          <p>{{result[12]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[13] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bench.svg') }}" class="img-responsive"/>
          <p>{{result[13]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[14] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bird.svg') }}" class="img-responsive"/>
          <p>{{result[14]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[15] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/cat.svg') }}" class="img-responsive"/>
          <p>{{result[15]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[16] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/dog.svg') }}" class="img-responsive"/>
          <p>{{result[16]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[17] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/horse.svg') }}" class="img-responsive"/>
          <p>{{result[17]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[18] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/sheep.svg') }}" class="img-responsive"/>
          <p>{{result[18]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[19] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/cow.svg') }}" class="img-responsive"/>
          <p>{{result[19]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[20] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/elephant.svg') }}" class="img-responsive"/>
          <p>{{result[20]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[21] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bear.svg') }}" class="img-responsive"/>
          <p>{{result[21]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[22] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/zebra.svg') }}" class="img-responsive"/>
          <p>{{result[22]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[23] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/giraffe.svg') }}" class="img-responsive"/>
          <p>{{result[23]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[24] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/backpack.svg') }}" class="img-responsive"/>
          <p>{{result[24]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[25] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/umbrella.svg') }}" class="img-responsive"/>
          <p>{{result[25]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[26] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/handbag.svg') }}" class="img-responsive"/>
          <p>{{result[26]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[27] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/tie.svg') }}" class="img-responsive"/>
          <p>{{result[27]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[28] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/suitcase.svg') }}" class="img-responsive"/>
          <p>{{result[28]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[29] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/frisbee.svg') }}" class="img-responsive"/>
          <p>{{result[29]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[30] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/skis.svg') }}" class="img-responsive"/>
          <p>{{result[30]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[31] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/snowboard.svg') }}" class="img-responsive"/>
          <p>{{result[31]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[32] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/ball.svg') }}" class="img-responsive"/>
          <p>{{result[32]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[33] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/kite.svg') }}" class="img-responsive"/>
          <p>{{result[33]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[34] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/baseball-bat.svg') }}" class="img-responsive"/>
          <p>{{result[34]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[35] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/baseball-glove.svg') }}" class="img-responsive"/>
          <p>{{result[35]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[36] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/skateboard.svg') }}" class="img-responsive"/>
          <p>{{result[36]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[37] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/surfboard.svg') }}" class="img-responsive"/>
          <p>{{result[37]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[38] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/tennis-racket.svg') }}" class="img-responsive"/>
          <p>{{result[38]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[39] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bottle.svg') }}" class="img-responsive"/>
          <p>{{result[39]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[40] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/wine-glass.svg') }}" class="img-responsive"/>
          <p>{{result[40]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[41] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/cup.svg') }}" class="img-responsive"/>
          <p>{{result[41]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[42] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/fork.svg') }}" class="img-responsive"/>
          <p>{{result[42]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[43] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/knife.svg') }}" class="img-responsive"/>
          <p>{{result[43]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[44] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/spoon.svg') }}" class="img-responsive"/>
          <p>{{result[44]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[45] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bowl.svg') }}" class="img-responsive"/>
          <p>{{result[45]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[46] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/banana.svg') }}" class="img-responsive"/>
          <p>{{result[46]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[47] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/apple.svg') }}" class="img-responsive"/>
          <p>{{result[47]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[48] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/sandwich.svg') }}" class="img-responsive"/>
          <p>{{result[48]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[49] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/orange.svg') }}" class="img-responsive"/>
          <p>{{result[49]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[50] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/broccoli.svg') }}" class="img-responsive"/>
          <p>{{result[50]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[51] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/carrot.svg') }}" class="img-responsive"/>
          <p>{{result[51]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[52] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/hotdog.svg') }}" class="img-responsive"/>
          <p>{{result[52]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[53] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/pizza.svg') }}" class="img-responsive"/>
          <p>{{result[53]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[54] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/donut.svg') }}" class="img-responsive"/>
          <p>{{result[54]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[55] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/cake.svg') }}" class="img-responsive"/>
          <p>{{result[55]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[56] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/chair.svg') }}" class="img-responsive"/>
          <p>{{result[56]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[57] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/couch.svg') }}" class="img-responsive"/>
          <p>{{result[57]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[58] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/plant.svg') }}" class="img-responsive"/>
          <p>{{result[58]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[59] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/bed.svg') }}" class="img-responsive"/>
          <p>{{result[59]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[60] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/dining-table.svg') }}" class="img-responsive"/>
          <p>{{result[60]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[61] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/toilet.svg') }}" class="img-responsive"/>
          <p>{{result[61]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[62] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/tv.svg') }}" class="img-responsive"/>
          <p>{{result[62]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[63] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/laptop.svg') }}" class="img-responsive"/>
          <p>{{result[63]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[64] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/mouse.svg') }}" class="img-responsive"/>
          <p>{{result[64]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[65] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/remote.svg') }}" class="img-responsive"/>
          <p>{{result[65]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[66] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/keyboard.svg') }}" class="img-responsive"/>
          <p>{{result[66]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[67] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/phone.svg') }}" class="img-responsive"/>
          <p>{{result[67]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[68] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/microwave.svg') }}" class="img-responsive"/>
          <p>{{result[68]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[69] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/oven.svg') }}" class="img-responsive"/>
          <p>{{result[69]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[70] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/toaster.svg') }}" class="img-responsive"/>
          <p>{{result[70]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[71] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/sink.svg') }}" class="img-responsive"/>
          <p>{{result[71]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[72] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/refrigerator.svg') }}" class="img-responsive"/>
          <p>{{result[72]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[73] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/book.svg') }}" class="img-responsive"/>
          <p>{{result[73]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[74] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/clock.svg') }}" class="img-responsive"/>
          <p>{{result[74]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[75] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/vase.svg') }}" class="img-responsive"/>
          <p>{{result[75]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[76] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/scissors.svg') }}" class="img-responsive"/>
          <p>{{result[76]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[77] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/teddy-bear.svg') }}" class="img-responsive"/>
          <p>{{result[77]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[78] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/hair-drier.svg') }}" class="img-responsive"/>
          <p>{{result[78]}} item(s)</p>
        </div>
        {% endif %}
        {% if result[79] != 0 %}
        <div class="col-auto result-icon icon">
          <img class="icon-border" src="{{ url_for('static', path='images/icons/toothbrush.svg') }}" class="img-responsive"/>
          <p>{{result[79]}} item(s)</p>
        </div>
        {% endif %}
    </div>
  </div>
  {% else %}
    <h2>No object predicted ...</h2>
  {% endif %}
  <div class="w-100"></div>
    <div class="col">
      <img src={{data_url}} class="predicted-img img-fluid" width={{IMAGE_W}} height={{IMAGE_H}}/>
    </div>
</div>
<div class="row justify-content-center align-items-center">
  <form id=upload-form method=post action='/result/' enctype=multipart/form-data>
    <div class="row justify-content-center align-items-center bottom-buffer">
      <h2 style="padding-bottom: 20px;">Predict again? please select model:</h2>
      <div class="col-auto align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="yolov1" name="model_id" class="custom-control-input" value="1">
          <label class="custom-control-label" for="yolov1">YOLOv1m</label>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="yolov5" name="model_id" class="custom-control-input" value="5" checked>
          <label class="custom-control-label" for="yolov5">YOLOv5</label>
        </div>
      </div>
    </div>
    <div class=drop-region id=drop-region>
      <img src="{{ url_for('static', path='images/NordlingLablogo.svg') }}" class="img-responsive"/>
        <input id=uploadinput class=upload_input type=file name=file accept="image/*,video/*">
    </div>        
  </form>
  <p> We have predicted {{predict_img_counts}} images and {{predict_video_counts}} videos.</p>
  <p class="drop-message">Drag and drop / click to select image or video to predict the object locations</p>
  <p class="bottom-border">Maximum file size: 20MB. Supported image types: png, jpg, jpeg. Supported video types: mp4, avi, mov, mpeg, flv, wmv.</p>
</div>
{% endblock %}