<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">

    <title>Where Object Detection Service</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Favicons -->
    <link rel="icon" href="{{ url_for('static', filename='images/icons/nordl_icon_64.png') }}">
    <link rel ="apple-touch-icon" href="{{ url_for('static', filename='images/icons/nordl_app_icon_192.png') }}">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-750x1294.png') }}">
    <meta name="apple-mobile-web-app-title" content="Nordling Lab Where">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- Splash Icons-->
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-640x1136.png') }}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-750x1294.png') }}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-1242x2148.png') }}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-1125x2436.png') }}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-1536x2048.png') }}" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-1668x2224.png') }}" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash/launch-2048x2732.png') }}" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome-free-5.15.3-web/css/all.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <!-- Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

    
    <!-- =======================================================
    * Template Name: eStartup - v4.0.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-center">
          <div class="row justify-content-center align-self-center">
            <div class="col-4 align-self-center logo">
              <img src="../static/images/TNL_NLW-logo-croped.png" class="img-fluid"/>
              <h1>Where?</h1>
            </div>
            <div class="w-100"></div>
          </div>
      </div>
    </header>
    <nav id="navbar" class="navbar">
      <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="#yolo">Model</a></li>
          <li><a class="nav-link scrollto" href="#dataset">Dataset</a></li>
          <li><a class="nav-link scrollto" href="#performance">Performance</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a href="https://www.nordlinglab.org/">Nordling Lab</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
          </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <!-- End Header -->
  
    <!-- ======= Main Section ======= -->
    <section id="main">
      <div class="container" data-aos="fade-in">
        {% block body %}{% endblock %}
        <div class="row justify-content-center align-items-center">
            <p class="drop-message">Drag and drop / click to select image or video to predict the object locations</p>
            <p class="bottom-border">Maximum file size: 50MB. Supported image types: png, jpg, jpeg. Supported video types: mp4, avi, mov, mpeg, flv, wmv.</p>
        </div>
      </div>
    </section><!-- End Main Section -->

    <!-- ======= Yolo Section ======= -->
    <section id="yolo" class="text-center">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center align-items-center section-title bottom-buffer">
          <h2>Model</h2>
          <div class="col-12 col-lg-4">
            <img src="{{ url_for('static', filename='images/yologo.png') }}" alt="Yolo" data-aos="zoom-in" data-aos-delay="100" class="img-responsive"/>
          </div>
          <div class="col-12 col-lg-8">
            <div class="yolo-content" data-aos="fade-left" data-aos-delay="100">
              <h3 style="text-align: left;">You Only Look Once (YOLO) algorithm</h3>
              <p style="text-align: left;">You only look once (YOLO) is a state-of-the-art, real-time object detection system. YOLO was first developed by Joseph et al. (2016) in his paper titled "You Only Look Once: Unified, Real-Time Object Detection". Our current model is YOLOv1 with some modification , e.g. model architecture</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center bottom-buffer">
          <div class="col-12 col-lg-5">
            <div class="yolo-content" data-aos="fade-right" data-aos-delay="100">
              <h3 style="text-align: left;">Model flow</h3>
              <p style="text-align: left;">Our model takes image or video as input, applies the YOLOv1 algorithm on the input, and outputs the original image with a predicted object bounding box. A notable difference with YOLOv1 algorithm is that our model only predicts one bounding box for each grid rather than two bounding boxes and takes the best one.</p>
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <img src="{{ url_for('static', filename='images/where_service_flow.png') }}" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>
        <div class="row justify-content-center align-items-center bottom-buffer">
          <div class="col-12">
            <div class="yolo-content" data-aos="fade-up" data-aos-delay="100">
              <h3 style="text-align: left;">Convolutional Neural Network (CNN) architecture</h3>
              <ul>
                <li>We use LeakyRelu for the activation function in the hidden layers and Sigmoid for the activation function in the output layer.</li>
                <li>The optimizer is Adamax.</li>
                <li>Total number of trainable parameters are 3,939,570 while the number of non-trainable parameters are 3,028 for batch normalization.</li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <img style="width: 100%; padding-bottom: 20px;" src="{{ url_for('static', filename='images/flowchart.svg') }}" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>
      </div>
    </section><!-- End Yolo Section -->

     <!-- ======= Dataset Section ======= -->
    <section id="dataset" class="text-center">
      <div class="container" data-aos="fade-up">
        <div class="row section-title dataset-bottom justify-content-center align-items-center bottom-buffer">
          <h2>Dataset</h2>
          <div class="col-12 col-lg-5">
            <canvas id="pieChart" class="piechart"></canvas>
          </div>
          <div class="col-12 col-lg-7">
            <p class="pietext" style="text-align: left;">There are 1430 glasses, 1586 scissor, 1433 phone, and 1678 tape images. In total, we collected 5500 images. All the images are collected using a webcam. 80% of the dataset are used for training and the rest 20% are used for validation dataset.</p>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-5">
            <div class="dataset-block">
              <img src="{{ url_for('static', filename='images/dataset/phone_1.jpg') }}" alt="Smartphone" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/phone_2.jpg') }}" alt="Smartphone" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/phone_3.jpg') }}" alt="Smartphone" data-aos="zoom-in" data-aos-delay="100">
              <h4>Smartphone</h4>
            </div>
          </div>
          <div class="col-md-5">
            <div class="dataset-block">
              <img src="{{ url_for('static', filename='images/dataset/tape_1.jpg') }}" alt="Tape" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/tape_2.jpg') }}" alt="Tape" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/tape_3.jpg') }}" alt="Tape" data-aos="zoom-in" data-aos-delay="100">
              <h4>Tape</h4>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-5">
            <div class="dataset-block">
              <img src="{{ url_for('static', filename='images/dataset/scissor.jpg') }}" alt="Scissor" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/scissor_2.jpg') }}" alt="Scissor" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/scissor_3.jpg') }}" alt="Scissor" data-aos="zoom-in" data-aos-delay="100">
              <h4>Scissor</h4>
            </div>
          </div>
          <div class="col-md-5">
            <div class="dataset-block">
              <img src="{{ url_for('static', filename='images/dataset/glasses.jpg') }}" alt="Glasses" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/glasses_2.jpg') }}" alt="Glasses" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{ url_for('static', filename='images/dataset/glasses_3.jpg') }}" alt="Glasses" data-aos="zoom-in" data-aos-delay="100">
              <h4>Glasses</h4>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Dataset Section -->

    <!-- ======= Performance Section ======= -->
    <section id="performance" class="text-center">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center align-items-center section-title bottom-buffer">
          <h2>Model performance</h2>
          <div class="col-12">
            <div class="yolo-content" data-aos="fade-up" data-aos-delay="100">
              <p style="text-align: left;">To make our model more generalized to diverse background conditions, we train the model with noise on top of the training images. We tried Gaussian noise and salt-and-pepper noise. In the end, we pick salt-and-pepper noise because it preserves the information of the original image, while gaussian noise might distort the information. We also present the plot of log of training loss and mean average precision (mAP) metrics with their corresponding confidence threshold for comparison.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="{{ url_for('static', filename='images/map.svg') }}" data-aos="zoom-in" data-aos-delay="100">
          </div>
          <div class="col-lg-6">
            <img src="{{ url_for('static', filename='images/loss.svg') }}" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>
      </div>
    </section><!-- End Performance Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Team Member</h2>
        </div>

        <div class="row justify-content-center top-reduce">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="team-block">
              <a href="https://www.nordlinglab.org/torbjorn-nordling/"><img src="{{ url_for('static', filename='images/team/nordling.jpg') }}" class="img-responsive" alt="img"></a>
              <div class="team-content">
                <span>Principal Investigator</span>
                <h4>Torbjörn Nordling, Ph.D.</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-block">
              <a href="https://www.nordlinglab.org/jose-ramon-chang/"><img src="{{ url_for('static', filename='images/team/jose.png') }}" class="img-responsive" alt="img"></a>
              <div class="team-content">
                <span>Ph.D. Student</span>
                <h4>Jose Ramon Chang, M.Sc.</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="team-block">
              <a href="https://www.linkedin.com/in/gavin-vivaldy-489a04209/"><img src="{{ url_for('static', filename='images/team/gavin.jpg') }}" class="img-responsive" alt="img"></a>
              <div class="team-content">
                <span>Master Student</span>
                <h4>Gavin Vivaldy, B.Sc.</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-block">
              <img src="{{ url_for('static', filename='images/team/jacob.png') }}" class="img-responsive" alt="img">
              <div class="team-content">
                <span>Master Student</span>
                <h4>Jacob Chen, B.Sc.</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-block">
              <img src="{{ url_for('static', filename='images/team/hank.jpg') }}" class="img-responsive" alt="img">
              <div class="team-content">
                <span>Bachelor Student</span>
                <h4>Hank Huang</h4>
              </div>
            </div>      
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-block">
              <img src="{{ url_for('static', filename='images/team/yaohwang.jpg') }}" class="img-responsive" alt="img">
              <div class="team-content">
                <span>Bachelor Student</span>
                <h4>Yao Hwang</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Footer ======= -->
  <footer class="footer footer-border">
    <div class="copyrights">
      <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              <a href="https://www.nordlinglab.org/"><img src="{{ url_for('static', filename='images/NordlingLablogo.svg') }}" class="img-responsive"/></a>
            </div>
            <div class="col-auto col-md-6 col-lg-7">
              <p>Licensed under <a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC BY 4.0</a>, except logos and material from published articles or other sources. Please attribute named authors and Nordling Lab.</p>
            </div>
            <div class="col-auto">
              <a href="https://creativecommons.org/licenses/by/4.0/legalcode"><img src="{{ url_for('static', filename='images/CClogo.svg') }}" class="img-responsive"/></a>
            </div>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->
  <a href="#header" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
  <!-- JS Files -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload-button.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/piechart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
