{% extends "index.html" %}

{% block body %}
<div class="row justify-content-center align-items-center bottom-buffer">
    <div class="col-auto">
        <h2>What items our YOLOv1m can predict?</h2>
        <p>4 items below</p>
        <div class="row justify-content-center align-items-center">
            <div class="col-auto  mainicon icon">
              <img class="icon-border" src="{{ url_for('static', filename='images/icons/eyeglasses.svg') }}" class="img-responsive"/>
            </div>
            <div class="col-auto mainicon icon">
              <img class="icon-border" src="{{ url_for('static', filename='images/icons/scissors.svg') }}" class="img-responsive"/>
            </div>
            <div class="w-100"></div>
            <div class="col-auto mainicon icon">
              <img class="icon-border" src="{{ url_for('static', filename='images/icons/phone.svg') }}" class="img-responsive"/>
            </div>
            <div class="col-auto mainicon icon">
              <img class="icon-border" src="{{ url_for('static', filename='images/icons/tape.svg') }}" class="img-responsive"/>
            </div>
        </div>
        <span style="line-height: 0;">While YOLOv5 can predict 80 classes. </span><a href="https://github.com/ultralytics/yolov5">Learn more.</a>
    </div>
    <div class="col">
        <form id=upload-form method=post enctype=multipart/form-data>
            <div class="row justify-content-center align-items-center bottom-buffer">
              <h2>Please select a model</h2>
              <div class="col-auto align-self-center">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="yolov1" name="model_id" class="custom-control-input" value="1">
                  <label class="custom-control-label" for="yolov1">YOLOv1m</label>
                </div>
              </div>
              <div class="col-auto align-self-center">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="yolov5" name="model_id" class="custom-control-input" value="5" checked>
                  <label class="custom-control-label" for="yolov5">YOLOv5</label>
                </div>
              </div>
            </div>
            <div class=drop-region id=drop-region>
              <img src="{{ url_for('static', filename='images/NordlingLablogo.svg') }}" class="img-responsive"/>
                <input id=uploadinput class=upload_input type=file name=file accept="image/*,video/*">
            </div>        
          </form>
          <p> We have predicted {{predict_img_counts}} images and {{predict_video_counts}} videos so far.</p>
    </div>
</div>
{% endblock %}