{% extends "index.html" %}

{% block body %}
<div class="row justify-content-center align-items-center content-properties">
    <div class="col">
      <img src={{data_url}} class="predicted-img img-fluid" width={{IMAGE_W}} height={{IMAGE_H}}/>
    </div>
</div>
<div class="row justify-content-center align-items-center">
  <form id=upload-form method=post enctype=multipart/form-data>
    <div class="row justify-content-center align-items-center bottom-buffer">
      <h2 style="padding-bottom: 20px;">Predict again? please select model:</h2>
      <div class="col-4 col-md-auto align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="yolov1" name="model_id" class="custom-control-input" value="1">
          <label class="custom-control-label" for="yolov1">YOLOv1m</label>
        </div>
      </div>
      <div class="col-4 col-md-auto align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="yolov5" name="model_id" class="custom-control-input" value="5" checked>
          <label class="custom-control-label" for="yolov5">YOLOv5</label>
        </div>
      </div>
    </div>
    <div class=drop-region id=drop-region>
      <img src="{{ url_for('static', filename='images/NordlingLablogo.svg') }}" class="img-responsive"/>
        <input id=uploadinput class=upload_input type=file name=file accept="image/*,video/*">
    </div>        
  </form>
  <p> We have predicted {{predict_img_counts}} images and {{predict_video_counts}} videos so far.</p>
</div>
{% endblock %}