@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #333;
  font-family: "Candara", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #555;
  font-size: 32px;
  font-family: "Candara", sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

h3 {
  color: #178ab7;
  font-size: 24px;
  font-family: "Candara", sans-serif;
  font-weight: 600;
}

@media (max-width: 768px) {
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #178ab7;
}

a:hover {
  color: #48b3d4;
}

ul {
  letter-spacing: 1px;
}

li {
  color: black;
  font-size: 24px;
  font-weight: 360;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: left;
}

p {
  color: black;
  font-size: 24px;
  font-weight: 360;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  p {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }
}

span {
  letter-spacing: 1px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  text-decoration: none;
  font-size: 13px;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 2;
  background: #178ab7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #4493b3;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  z-index: 2;
  transition: all 0.5s ease;
  padding: 5px 0;
}

#header .logo h1 {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 8px;
}

#header.header-scrolled {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  justify-content: center;
  position: sticky;
  top: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 2;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Candara", sans-serif;
  font-size: 18px;
  color: #222;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0;
  padding: .5rem 1rem;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #178ab7;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #178ab7;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.navbar i{
  position: fixed;
  left: 20px;
  top: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.mobile-nav-toggle {
  color: #222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  z-index: 2;
}

.mobile-nav-toggle.bi-x {
  color: black;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar i{
    position: fixed;
    left: 20px;
    top: 25px;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.9);
  transition: 0.3s;
  z-index: 1;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 445px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 24px;
  color: #222;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #178ab7;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #178ab7;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.padd-section {
  padding-bottom: 0px;
  padding-top: 0px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 20px;
  }
}

.section-title h2 {
  font-family: "Candara", sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 50px 0 100px 0;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .section-title h2 {
    line-height: 1.3;
  }
}
.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Candara", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f5fbf3;
  min-height: 40px;
  margin-top: 82px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li {
  letter-spacing: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# main Section
--------------------------------------------------------------*/
#main {
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

#main p {
  font-size: 18px;
}

#main img {
  width: 100%;
  object-fit: contain;
  height: auto;
  margin: auto;
}

#main .main-container .video-container{
  text-align:center;
  margin: auto;
}

/* Upload area */

#main .drop-region{
  display: inline-flex;
  border: 2px dashed grey;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(0,0,0,0.05);
  transition: .3s;
  color: rgb(238, 238, 238);
  background: rgb(238, 237, 237);
  width: 50vw;
  height: 50vh;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  text-align: center;
  cursor: pointer;
}

#main .drop-region:hover{
  box-shadow: 0 0 45px rgba(0,0,0,0.5);
  color: black;
}

#main .drop-region:active{
  box-shadow: 0 0 35px rgba(0,0,0,0.05);
  color: #ccc;
}

#main .drop-region.dragover {
  box-shadow: 0 0 45px rgba(0,0,0,0.5);
  color: black;
}

#main .drop-region img {
  width: 80%;
  height: 80%;
  opacity: 50%;
}

#main .drop-message{
  margin: auto;
  font-size: 18px;
  color: #178ab7;
}

#main .upload_input{
  display: none;
}

#main .bottom-border{
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
#main h1 {
  white-space: nowrap;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Candara", sans-serif;
  color: #555;
  padding-bottom: 20px;
  margin-top: -5%;
}

#main h2 {
  color: black;
  font-size: 24px;
  padding: 10px;
  font-family: "Candara", sans-serif;
}

#main .top-buffer {
  margin-top: 70px;
}

#main .bottom-buffer {
  margin-bottom: 20px;
}

#main .icon-border{
  border: 2px solid #178ab7;
  border-radius: 5px;
}

#main .icon img{
  width: 15vw;
  height: 15vw;
  padding: 10px;
  max-width: 200px;
  max-height: 200px;
}

#main .mainicon {
  padding-bottom: 20px;
} 

#main .icon p{
  font-size: 28px;
}

#main .predicted-img{
  box-shadow: 0 0 30px #ccc;
  padding: 10px;
  margin: 20px 0 40px 0;
}

#main .custom-control input {
  visibility:hidden;
}

#main .custom-control  label {
  cursor: pointer;
  padding: 5px;
  font-size: 2vw;
  border: 2px dashed #48b3d4;
  border-radius: 4px;
}

#main .custom-control label:hover {
  border: 2px dashed #178ab7;
  border-radius: 4px;
}

#main .custom-control input:checked + label {
  background: rgba(23, 138, 183, 0.5);
  border: 2px solid #178ab7;
  border-radius: 4px;
}

@media (max-width: 576px){
  #main .drop-message {
    font-size: 18px;
  }

  #main h1{
    margin-top: -7%;
    padding: 0;
  }

  #main .predicted-img{
    padding: 0 20px;
  }

  #main .custom-control  label {
    font-size: 4vw;
  }

  #main .drop-region{
    width: 70vw;
    height: 70vw;
  }

  #main .custom-control  label {
    font-size: 18px;
  }
}

@media (min-width: 576px){
  #main table {
    margin: auto;
  }

  #main .icon img{
    width: 12vw;
    height: 12vw;
  }

  #main h2 {
    font-size: 3vw;
  }

  #main .drop-message{
    font-size: 22px;
  }
}

@media (max-width: 768px) {

  #main .drop-region {
    height: 50vw;
  }

  #main h1{
    font-size: 7vw;
  }

}

/* Screen start to become larger */

@media (max-width: 992px){
  #main p {
    font-size: 16px;
  }

  #main .top-buffer {
    margin-top: 60px;
  }

  #main .icon p{
    font-size: 3.5vw;
  }

  #main .predicted-img{
    margin-left: 0px;
  }

  #main .custom-control  label {
    font-size: 16px;
  }
}

@media (min-width: 992px){
  
  #main {
    margin-top: 20px;
  }

  #main table {
    width: 300px;
  }

  #main .drop-region {
    width: 50vh;
  }

  #main .icon img{
    width: 8vw;
    height: 8vw;
  }

  #main h2 {
    font-size: 28px;
  }

  #main .bottom-buffer {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px){

  #main {
    margin-top: 30px;
  }

  #main table {
    width: 400px;
  }

  #main .predicted {
    max-width: 500px;
  }

  #main .icon img{
    max-width: 200px;
    max-height: 200px;
  }

  #main .custom-control label {
    font-size: 28px;
  }
  
  #main .drop-message {
    font-size: 24px;
  }
}



/* Yolo Section
--------------------------------*/

@media (max-width: 992px) {
  #yolo img {
    padding: 30px;
  }
}

#yolo img {
  max-width: 100%;
}

#yolo .bottom-buffer {
  margin-bottom: 100px;
}

/* Performance Section
--------------------------------*/

@media (max-width: 992px) {
  #performance img {
    padding: 30px;
  }
}

#performance img {
  max-width: 100%;
}

#performance .bottom-buffer {
  margin-bottom: 100px;
}


/* Dataset Section
--------------------------------*/

#dataset{
  display: inline-block;
  width: 100%;
}

#dataset .dataset-block {
  background: #fff none repeat scroll 0 0;
  padding: 20px 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out 0s;
}

#dataset .dataset-block img {
  height: 100px;
  margin-bottom: 20px;
  width: 100px;
}

#dataset .dataset-block h4 {
  margin-bottom: 20px;
}

#dataset .dataset-block p {
  margin-bottom: 0;
}

#dataset .piechart {
  width: 100%;

}

#dataset p .pie-text {
  text-align: center;
}

#dataset .bottom-buffer {
  margin-bottom: 60px;
}

@media (min-width: 1400px) {
  #dataset .dataset-block img {
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
  }
}
/* Team Section
--------------------------------*/

#team {
  display: inline-block;
  width: 100%;
}

#team h2 {
  margin-top: 30px;
}

#team .team-block {
  background: #fff none repeat scroll 0 0;
  transition: all 0.5s ease-in-out 0s;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 200px;
  margin: auto;
}

#team .team-block img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

#team .team-content {
  margin-top: 20px;
  margin-bottom: 30px;
}


#team .top-reduce {
  margin-top: -40px;
}

@media (max-width: 768px) {
  #team .top-reduce {
    margin-top: 0px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Candara", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}

.footer .footer-logo p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}

.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}

.footer .copyrights {
  background: #fff;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 20px 0;
  font-family: "Candara", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #178ab7;
}

.footer-border{
  border-top: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.1);
}